[2020-02-22 21:11] saper opened #1 "CCFLAGS override?"
We suggest in the instructions to override CCFLAGS like this:

    ./bin/package make \
        SHELL=/bin/bash CCFLAGS="-xc99 -D_XPG6 -m64 -xO4" LDFLAGS="-m64"

However, there are some places like for example `lib/ast/libast/Makefile`:

https://github.com/ksh-community/ksh/blob/e7f25423818abe159edf52f5799d66bd3621ab0b/src/lib/libast/Makefile#L13

where `CCFLAGS`  gets overwritten anyway. If we ov

[2020-02-24 20:01] jghub commented on #1
@saper
thank you for this heads up. duly noted. as you might imagine, there are still things to organise/adjust in ksh-community layout/setup so far. therefore, it might take some time before someone looks into this more closely.
I also presume that there will not be a  "one size fits" all  recommendation  for CCFLAGS settings anyway. e.g AFAICS ubuntu uses
[code]
for building...

new FAQs and HOW

[2020-02-24 20:08] saper commented on #1
Sure, that's fine. I just posted it because this is what struck me reading project's README.
I'll try to post some more details here so feel free to treat it as a "note to self" bug if I may...

[2020-02-24 20:10] jghub commented on #1
sure. please do. and if it is FreeBSD specific, flag it as such ;)

[2020-02-24 20:15] saper commented on #1
No, it is not. Can I edit issue labels?

[2020-02-24 20:19] jghub commented on #1
seemingly not ... what do you want? "documentation"?

[2020-02-24 20:19] jghub commented on #1
I am open to suggestions...

[2020-02-27 00:29] marcastel opened #3 "macOS build"
Apple's _official_ build of `ksh` on macOS is maintained on their [Darwin](https://opensource.apple.com/source/ksh/ksh-27/) site. We should merge their patches and ensure our build works from here-on on macOS.

That done we should encourage update of Homebrew's [formula](https://raw.githubusercontent.com/Homebrew/homebrew-core/master/Formula/ksh.rb). Likewise for MacPorts.

[2020-02-27 00:43] marcastel commented on #3
A quick and dirty script to get a local copy of the Darwin site: [download-apple-ksh.gz](https://github.com/ksh-community/ksh/files/4258909/download-apple-ksh.gz)

[2020-02-27 01:18] marcastel commented on #3
[code]

where ksh-community is commit e7f2542 outputs [apple-build.diff.gz](https://github.com/ksh-community/ksh/files/4259007/apple-build.diff.gz)

To be honest was expecting a much bigger diff :-)

[2020-02-27 03:18] marcastel commented on #3
Build fails. Wasn't expecting this  ([build.log.gz](https://github.com/ksh-community/ksh/files/4259318/build.log.gz)). I hope it is just my build environment which needs refreshing.

[2020-03-03 15:57] jelmd commented on #3
Just tried on the WS of my colleague - works. Little recipe to reproduce and being able to play with compiler flags:
[code]
To try different compiler flags, ditch all cached stuff with `make clean` first.

[2020-03-03 19:08] jghub commented on #3
@jelmd: I just gave this a very quick try (copy+paste of the last 3 commands above into my (differentlhy named, pristine) tmpdir):

the build does not succeed on my machine (OSX 10.15.3) but aborts with:
[code]
this is only a first feedback. I have not yet tried to find out why it fails. (if you see the problem or know, where I should start looking, please let me know, of course).

[2020-03-03 20:25] jelmd commented on #3
Sure? Looks like success. `./bin/package results failed` should show 1+ lines with failed stuff right after `==> .... <==`. Wondering what `ls -al ksh/arch/darwin.i386/bin/` shows (I build it on 10.13.6 with kernel 17.7.0).

[2020-03-03 20:37] jghub commented on #3
oops, you're right. there it is :|. I misinterpreted the message. sorry for the noise. and  I _thought_ I had scanned the whole dir for `ksh`, but obviously not so.  so you right. very good :). I now can confirm that there is a functional binary present.  compiler flags will need tweaking as a first q&d run of the benchmark shows. but this is encouraging. maybe we can offer a way for macports/home

[2020-03-03 21:57] jelmd commented on #3
Ahhh, cool! :) All the important stuff lands in `ksh/arch/*/*/`.

Compiler flags: Can you try (possibly a -O2 is sufficient) and bench? I've had only ~ half an hour to check+setup+compile, before he went home (switched off the box)...

[2020-03-04 09:19] jghub commented on #3
@jelmd

I just ran `shbench -l5 /bin/ksh kshcomO2` (where the latter is "our" binary when compiled with `-O2`):

[code]
so that is cumulative run time (sec) when executing each benchmark 5 times. you were right `-O2` alone does the trick regarding performance. `/bin/ksh` is the system's binary provided by apple. from looking at the source in the Darwin repo (or, rather, a `diff` against our starti

[2020-03-04 10:23] marcastel commented on #3
Great work gents. Unfortunately my macOS build environment is out-of-service until I rebuilt it, so I can't yell hurrah with you just yet.

Since we have a macOS build would it not be a good idea to publicise this... to show the community their is actual work in progress ?

If so:

- What should our rule be for handling the patches?
- How to we communicate back with Apple?
- Is it time to look int

[2020-03-04 10:51] jghub commented on #3
macOS build/publicise:
I presume it is too rough around the edges so far, no? at least a `install` target is missing and and analogue to `configure --prefix` (or a README/INSTALL what to do to customize the install).

patches: I presume the patches used by @jelmd where those found in the Darwin repo? so that would be Apples own patches I guess? and nothing to communicate back to Apple AFAICS for n

[2020-03-04 11:16] marcastel commented on #3
We have on Apples site the patches to backward support all versions of macOS since OS X. So should we merge or otherwise handle Apple patches we need to be clear on what responsibility we take over.

macOS may be departing from POSIX compliance with some security focused changes to the operating system (e.g. [sip](https://support.apple.com/en-us/HT204899)). This would mean that patches will become

[2020-03-04 11:20] marcastel commented on #3
MacOS is not like a Linux distribution. We don't have access to their system build. So we could probably deliver:

a) a ready-made binary tarball
b) a custom HomeBrew formula
c) and the likes for MacPorts which I know much less about

And all these could be GitHub releases so that extra integration work can be done by others. As the process matures we can reorganise, dispatch, automate as required

[2020-03-04 11:28] jghub commented on #3
macports does have "portfiles" (Tcl) but that will be done by the package maintainer (or rather: it exists but did no longer suceed with the build from the ATT repo). so I presume it suffices to provide the necessary ingredients like @jelmd did yesterday but as part of the ksh repo. then like other distros, macports could just start to use (if they are willing to -- remains to be seen) the ksh-com

[2020-03-04 14:20] jelmd commented on #3
Ehmm, the provided Makefile should be seen as a **proof of concept**, i.e. check whether vendor patches work as expected, build process works, performance is about the same or better as with the OS shipped ksh. If so, it is worth to start to unify/integrate the patches into the repo (otherwise sort out later). Not more!

And as @jghub said, we definitely do not want to provide OS packages. OS vend

[2020-03-06 08:43] brano-tichy opened #4 ""cannot execute [Exec format error]" on cygwin64"
ksh93u+ (`Version AJM 93u+ 2012-08-01`) compiled from source on cygwin64
`CYGWIN_NT-10.0 WSHQ1803 3.1.4(0.340/5/3) 2020-02-19 08:49 x86_64 Cygwin`
behaves exactly like bug described in RELEASE:

the error code is 126
setting `CCFLAGS=-D_AST_no_spawnveg=1` helped

also `lib\libast\path\pathnative.c` relies on `cygwin_conv_to_win32_path` which is not supplied, i had it replaced with `cygwin_conv_pat

[2020-03-12 13:51] jghub opened #6 "partly wrong rounding when using printf with "%f" format"
I accidentally noted the following behaviour:
[code]
so `%f` format seems partly broken...

[2020-03-14 15:47] jghub opened #7 ""time" builtin does not correctly report a third decimal digit"
by default `time` reports two decimal digits. this is controlled by the variable `TIMEFORMAT`. changing the latter to, e,g, ` TIMEFORMAT=$'\nreal\t%3R\tuser\t%3U\tsys\t%3S'` enforces reporting of 3 decimal digits (more are not supported anyway according to manpage). however, the third digit is always reported as zero. example
[code]
(the observed output is of course somewhat variable but the third

[2020-03-20 00:48] hyenias commented on #6
@jghub I have been researching this issue for several days now. At present, it seems that if the float is less than zero and has a succeeding zero or zeroes after the fraction separator rounding fails unless enough additional precision is given.

[code]
As a workaround, you can apply precision to a float via `typeset -F # <variable>`. Once you apply precision, rounding will occur when expansion is

[2020-03-20 01:35] hyenias commented on #7
I have researched this issue and I do not believe the `time` keyword is broken; it is just that the underlying c function `times` has limited precision (0.01). In ksh2020, a new `times` special builtin was created along with updating the `time` keyword code to utilize the newer and more accurate c function `getrusage` which generally has a precision of µsec (0.000001).

In fact, `getrusage` appear

[2020-03-20 14:41] jghub commented on #7
thanks for looking into this. I suspected that the accuracy limitation is due to the called c function. this is not really bad in my view, but that changing the TIMEFORMAT to 3 digits w/o getting them, really, seems broken to me :). you are right that a better solution here will be to switch to `getrusage` probably.

but what about the `times` alias and why would it be good to replace it by a buit

[2020-03-20 14:49] jghub commented on #6
@hyenias: thanks for this information. I agree that  the situation is rather confusing. it would be good if you can manage to get a better grasp of what is going on here :).

[2020-03-22 12:02] hyenias commented on #7
I am not sure as to why ksh2020 decided to change `times` alias to a builtin. My guess is that they mimicked bash. The ksh2020 `time` and `times` statements produce the same output as bash ones. Overall, ksh93 `time` keyword provides real, user, and system status for the entire process and its children meant for timing pipelines. ksh93 `times` alias does not do anything more but just calls `time`

[2020-03-22 23:51] saper commented on #7
Works for me with ksh93v:

[code]

Also spotted

     real	1,000	user	0,000	sys	0,008

Version ABIJM 93v- 2014-12-24 on FreeBSD 11.3-STABLE

[2020-03-23 00:07] saper commented on #6
Interesting:

0,01

0,02

off by one error?

[2020-03-23 17:46] jghub commented on #6
why/how could that be an off-by-one error? I am too slow... I mean in your example every number in the semi-open interval [0.0150, 0.0250)  should round to 0.02, but actually the numbers in the open interval  (0.0195, 0.0295) are "rounded" to 0.02 ... so the range is shifted by 0.045 in this example and, additionally, the lower boundary is not included (open rather than semi-open interval).

[2020-03-23 17:53] jghub commented on #7
interesting. wild guess: maybe the freebsd `times` C-function is different? I tested again and for me the native Version ABIJM 93v- 2014-12-24 definitely does not do it right on OSX:
[code]
never shows a non-zero third digit in so many runs just like initially reported.

[2020-03-23 17:56] saper commented on #6
I mean that while 0.019 are incorrect if we supply another digit things start to get right. Maybe just "n+1" digit factor is wrong somewhere. As @hyenias noticed all is fine with 1.019, so looks likes only the first non-zero digit does not get rounded up or down properly.

[2020-03-23 18:12] saper commented on #7
The New KornShell book does not define precision of `time` nor the use of the `TIMEFORMAT` variable (added in 03-03-18 release which is ksh93u).

Here is the definition of `times(3)` I have

[code]

On my system I get:

     $ getconf CLK_TCK
     128

On a random Linux system (Centos 6 with the 2.6.32-754.25.1.el6.x86_64 kernel and glibc-2.12-1.212.el6_10.3.x86_64) I get

      $ getconf CLK_TCK

[2020-03-23 18:24] jghub commented on #7
tend to agree. so the third digit you see on your system is not "real" either but approx equal to 1/128...

so "works as designed" is correct I'd say. but the third digit just is not usable in the present implementation that uses times(3). I believe this is not desirable. whether it needs "fixing"? maybe. as @hyenias said, $SECONDS obviously uses something else with higher resolution which might p

[2020-03-24 03:00] hyenias commented on #6
I am still working on some testing script(s) to help identify the extent of the problem as well as provide workaround(s). In particular, I thought I had a good working ksh rounding function but when I tried it out on a 32bit system instead of my normal 64bit it failed.

Here are some of my current observations:
- both ksh rounding options either printf or typeset floating precision fail in their r

[2020-03-24 16:40] nickpapadonis opened #8 "Backslash, then Ctrl-B produces unexpected results in Emacs mode"
Test case A:

1. Type backslash
2. Type Ctrl-B
3. Carrot B appears
4. The expected result is to go backwards one character, instead of printing Carrot B

There is been discussion that this behavior is expected based on p106 of Korn's book.  At the same time typing backslash and Ctrl-C works as expected without printing Carrot C.  Backslash Ctrl-D behaves the same as Test case A.

There is a video

[2020-03-24 23:44] saper commented on #8
@nickpapadonis There are some bits missing in the way you describe how to reproduce the issue, probably something got cut out by the markdown editor

[2020-03-24 23:58] nickpapadonis commented on #8
Fixed the comment thanks

[2020-03-25 10:05] jghub commented on #8
I am using vi mode so never noticed this behaviour. I now have looked it up in the bolsky/korn book (@nickpapadonis: if you like and care for ksh I can really recommend that you get a hardcopy (long out of print, used  samples you can get for 5$ or so from abebooks/amazon)) and it proofs that  the behaviour you see is explicitly intended. from page 106:

this seems clear enough to me. I disagree w

[2020-03-25 10:29] marcastel commented on #8
This is also documented with the same wording  in the man page (`src/cmd/ksh93/sh.1`):

I concur with @jghub in that this appears compliant. I am not an emacs user either.

[2020-03-25 11:21] saper commented on #8
It also works this way in the vi mode as well without any editing mode at all.

There is one problem though - the documentation says this is a "command", so I'd expect that typing `` (backslash) and then some character quotes it. So far so fine.

However, it seems to work like a permanent marker though: just type backslash, a, b to get `\ab`. Then press backspace once (`\a`), again (`\`) and again

[2020-03-25 13:07] jghub commented on #8
oh, you are right regarding also happens in vi mode! it never happened to me since I have added emacs-like cursor movement keybindings to my vi mode so that I can use ^B and ^F from within vi insert mode. and in this combo `\^B` actually just backspaces :).

regarding your question: it seems to come about because you never leave input mode (in vi, I mean, in emacs no difference...) so you delete t

[2020-03-25 13:09] jghub commented on #8
so I have learned something new. I never was aware of `\` doing more than protecting symbols special to the shell. I completely missed the line editor support to input control chars in this way...

[2020-03-25 18:07] nickpapadonis commented on #8
I update the issue as some characters were lost. There are many comments above.  I'm confused, is this behavior a feature?  What does the feature enable the user to do?

[2020-03-25 18:31] jghub commented on #8
yes, it is a "feature" since explained in the book and the manpage. it can also be confusing, obviously, since the two builtin editors (vi and emacs)  in ksh thus treat `\` specially, not as an ordinary character.

what it allows, is to easily enter verbatim those control-chars into string definitions. if you type `\^B` it is interpreted as "insert ascii character with octal code 002 (stx)" (i.e.

[2020-03-25 19:13] nickpapadonis commented on #8
What page is this described in the book?  I have it.  Thanks

[2020-03-25 19:17] jghub commented on #8
p. 106

[2020-03-25 19:24] nickpapadonis opened #9 "Erroneous characters while in Emacs M-x shell"
I created a video of the issue:
https://www.youtube.com/watch?v=oPERMapfapo

Emacs 26.1, ssh 93u+, Debian Linux 10.

^L's are output while moving the mode line in the middle of two buffers.  This behavior does not occur using Emacs as a shell.

How can it be diagnosed if the problem is ksh or Emacs?

Thanks

[2020-03-25 23:41] saper commented on #9
Thanks, I could reproduce it using emacs 26.3 on FreeBSD 11.3 with ksh93 93v- just by resizing emacs frame (with shell-mode being the sole window).

[2020-03-26 00:02] saper commented on #8
I have mistakenly used the word "command" which means something different in the Korn shell. This is an "edit command". "All edit commands operate from any place on the line (not just at the beginning)". So in that way '\' is just a keystroke (like ^A moving the cursor) but it leaves some visual indication the next character is about to quoted.

An '\' already entered in the buffer is a different

[2020-03-26 10:29] jghub commented on #8
I see your point but I am not averse to the present behaviour (which also might be justified). but I only now have noted that the two editors behave different in this situation. `vi` does what you describe (and what is ok behaviour with me) while `emacs` does what you seem to prefer in this situation (just treat `\` as ordinary character in the buffer when deleting)

maybe _this_ difference is als

[2020-03-26 15:24] nickpapadonis commented on #8
stty lnext ...

Did not resolve the issue in Debian 10

Did not resolve the issue in FreeBSD 12.1

Did I enter the correct command?

I am still unclear on how this feature is useful.  What does it provide?  I.e. typing \ (back slash) then Ctrl-B shows ^B.  Is the intension to type \ (back slash), then some control characters?

[2020-03-26 22:30] saper commented on #8
`stty lnext` is not a solution. I was referring to this:

[ctrl-v] is not a feature of ksh, it is a feature of a so-called "line discipline" that controls the terminal behaviour in UNIX. It can be turned off or assigned to a different key with `stty lnext`.

To answer your question:

The way I understand this is the intention - to add control characters that would otherwise do something else, simi

[2020-03-26 23:58] hyenias commented on #6
I now have my test script running correctly on an ARMv7 box with an adjustment in my formula. The 32bitbox numbers supplied previously were run using text as input. Here are the corrected results.

**Corrected:**
[code]
Next up for me is to see if my test script holds up on 64bit CPU using 32bit OS.

[2020-03-27 22:46] nickpapadonis commented on #8
I noticed that the behavior works with other characters other then Ctrl-B.  For instance backslash then Ctrl-D.

Some questions:
Should Ctrl-B be removed from the possible control characters that can be entered after a backslash.? Potentially only in interactive mode.  Thereby giving precedence to the Emacs editing of the buffer?  Unsure if the book describes precedence of input characters in thei

[2020-03-28 08:58] jghub commented on #8
yes. as already stated in my first reply: "`\` Escapes next character". *any* character that is. those with no special meaning.  those special to the shell. those special to the editor. other control characters.

I would say "no" since one cannot predict whether overall users prefer the emacs "meaning" of `^B` (users of vi mode obviously don't...) or want  consistent means to input *all* control c

[2020-03-28 13:41] nickpapadonis commented on #8
If one types backslash and Ctrl-C, Ctrl-C is not output to the screen with a carrot in front of it.  In this case Ctrl-C is captured for it's special meaning.  If one types backslash and Ctrl-D, Ctrl-D is output to the screen and it is not captured for it's special meaning.  In this sense, I would argue that the behavior is non-uniform for at least Ctrl-C.  Does this make sense?

[2020-03-28 14:29] nickpapadonis commented on #8
Can someone add the lines from Korn's book p106 that justify this behavior?  I have my book in storage.  Thanks

[2020-03-28 15:18] posguy99 commented on #8
I'm just a ksh user, but here's the page.

![Kornshell pg 106](https://user-images.githubusercontent.com/408644/77826459-bf19cd80-70cc-11ea-9a57-708cdadc8be3.jpg)

Learning the Korn Shell, 2nd ed dances around the same issue beginning on page 27.

[2020-03-28 15:27] nickpapadonis commented on #8
Wow there it is.  I agree we can close this issue out as expected behavior.  Thanks for all the input!

[2020-03-28 15:41] #8 closed, assigned to nobody

[2020-03-30 09:43] saper commented on #8
From what I can see this is not documented and might be a bug indeed.

[![asciicast](https://asciinema.org/a/E3Rq3et07MMQG5BaF7vkXQTg0.svg)](https://asciinema.org/a/E3Rq3et07MMQG5BaF7vkXQTg0?autoplay=1)

Looks like a no-editor mode (neither vi not emacs) does behave the same as vi. I prefer emacs behavior. But we should not break the functionality on totally dumb terminals.

[2020-03-30 09:58] saper commented on #8
Also found backspacing mode in vi which makes me stuck forever behind the backslash:

- Start editing in vi mode
- After backslash type something then ESC to switch to command mode
- Use shift-T, backslash command to get behind the backslash
- Use shift-C to replace the text till the end of line
- Type something in the input mode
- Backspace all out - you’ll be stuck “forever” behind the backslash

[2020-04-03 10:13] marcastel opened #10 "Obsolete CLI options"
_Obsolete_ command line options should probably be trashed in the next + 1  release -- not the next release as supposedly the next release will be our _gold master_ of 93u+.

[2020-04-25 06:28] RussCannon opened #11 "Is Project Active?"
Is this project in active development?  If so, is it serious work or, say, hobbyist type?  Just wondering.  I have not been pleased with the direction the KSH2020 project has been going, and it seems to have petered out anyway.  I am just wondering where this project is going and what plans are in works.

Cheers,
Russ

[2020-04-25 09:57] marcastel commented on #11
@RussCannon in short yes, the project is active but still in early organisation phases. And all helping hands are welcome :-)

The motivation, on the short term is not necessarily to bring in new features, but to make sure that the KornShell and its command interpreter remain part of all POSIX UNIX and Linux distributions. We want to ensure that it builds smoothly for packagers and to fix essentia

[2020-04-25 20:39] hyenias commented on #11
100% agree with @marcastel. @RussCannon, I have elected to support this ksh-community's efforts. I have been learning so much from the team over the last couple of months. Yes, our ksh-community's version of the Korn Shell is in active development. Currently, I have been working on fixing rounding issues with floating points, see #6.

[2020-04-26 18:00] saper commented on #11
Is there some group or organisation behind it discussing things offline? or is just about pull requests we put in here...

What kind of organisation do you think is needed?

[2020-04-26 20:20] marcastel commented on #11
@saper by organisation I essentially meant _a dedicated group of people with a particular purpose_ : the KornShell. We need to learn how to work together, and organise ourselves to distribute work and be proactive to issues, ensure stability across platforms, further document, and so much more!

Obviously we need some sort of communication channel and more formal processes; the later are underway

[2020-05-01 12:28] kloczek opened #12 "2020.0.0: test suite is failing"
All is on https://github.com/att/ast/issues/1478

PS. Any plans to make forst release?

[2020-05-01 12:35] kloczek commented on #12
Closing.

Looks like that projet has nothing to do with work which has been done recently on ksh.
A bit disapointing ..

[2020-05-01 12:47] marcastel commented on #12
@kloczek A bit frustrating to see issues opened and closed within a couple of minutes, and questions answered within the same time lapse by the originating author. I would have been tempted to delete this issue altogether, but then we would have lost the prime motivation on you initial visit to this project.

We are all committed to have a working KornShell in all environments. So could you please

[2020-05-01 12:57] kloczek commented on #12
It is a bit frustrating to see abandonedo meson and other things which are now now allow reproduce the same effect.

Is it any plan to reintroduce meson files here?

[2020-05-01 13:08] marcastel commented on #12
@kloczek I fully understand your frustration as a user depending on a package that fails.

No, meson is not on our roadmap.

Our initial steps as a new community will be to ensure that all environments have a working copy of `ksh93u+`; consider this as a take over of the maintenance of the last official version of the KornShell delivered by AT&T.

In this respect, changing the build system, is all

[2020-05-01 13:22] kloczek commented on #12
Why? So it will be necessary again sit upside down on chair to have ksh with LTO/PGO? :/

To be honest I don't care about Self Adoration Society aka "community". I care only about the code.

PS. I'm really disappointed now that some programmers do not understand how important is to have proper build framework.

[2020-05-01 13:34] marcastel commented on #12
@kloczek If your topic is to theorise on a build system, by my guest, elsewhere, a this is not among the immediate tasks we have to solve here.

But please share if you have KornShell specific comments, suggestions, or even if you want to share the workload this community is putting in _after hours_.

Otherwise I suggest we do indeed close this issue.

[2020-05-01 14:14] kloczek commented on #12
Issue is that As long as I've been using completely different method on testing that ticket is a bit useless and to be honest it is a bit discouraging to even try to reproduce that as long as there is no here proper build framework. Do you see my point?

It was very good reason to use meson. As long as that part is already done pushing that on the bottom of the ToDo list is rally hard to understan

[2020-05-01 14:33] marcastel commented on #12
@kloczek I don't see your point. But happy to discuss it elsewhere.

I have created [this issue](https://github.com/marcastel/kornshell-build-system/issues/1) if you want to discuss this further. And obviously anybody interested is welcome.

In the meantime I will close this issue here. In due time we can reopen it :-)

[2020-05-01 14:33] #12 closed, assigned to nobody

[2020-05-01 14:37] jghub commented on #12
as @marcastel already pointed out, reinstating meson as build system is currently not under consideration. we _are_ considering to also support cmake in the future. and I do not agree that the build system in itself is really of much relevance. what +is+ relevant is that ksh93 builds everywhere (again). there also are/were several people objecting against meson. personally, I simply do not care to

[2020-05-01 18:16] saper commented on #12
Which linker would you like to use?

How would you like to profile? Using the testsuite or some custom code?

[2020-05-02 01:11] hyenias commented on #7
Can someone mark this issue with an enhancement label? Thanks.

[2020-05-04 18:48] dwierenga commented on #8
Sorry to comment on a closed issue, but is there any chance you could share those keybindings?  Maybe start a wiki page in this project?  There's a general lack of information around the web for the esoteric way to get KSH to interpret key strokes.

[2020-05-04 19:28] marcastel commented on #8
@dwierenga Excellent idea. Could I kindly ask you to open an [issue here](https://github.com/ksh-community/docs/issues/new) and we will follow-up.

We are working on setting up centralised information and documentation on the KornShell and this definitively belongs there :-)

[2020-05-04 22:45] nickpapadonis commented on #8
I have to search my messages.  In the meantime, someone pointed me to a page in the KSH book by David Korn that documented this issue as a method to add control characters.  I then saw this and realized if that book is taken as the standard, this is not a bug.

Yikes!

[2020-05-04 22:55] nickpapadonis commented on #8
Read through this.  The relevant documentation in the KSH book describing this “feature” is pictured.

Personally, I think the feature is confusing, but I can also see use for it.  It would be interesting to find out if anyone is using KSH this way.

https://github.com/ksh-community/ksh/issues/8#issuecomment-623639316 <https://github.com/ksh-community/ksh/issues/8#issuecomment-623639316>

[2020-05-18 11:58] McDutchie commented on #3
There is no need to add an extra Makefile or anything. The macOS build is properly fixed by replacing the three obsolete `cc.darwin*` compiler wrapper scripts in `src/cmd/INIT`. See the fix in my fork: https://github.com/modernish/ksh/commit/1e336ffc412d21c8c4ec811c8459fb68950e29af and a tweak to use `-Os` by default at https://github.com/modernish/ksh/commit/c1044f354013050225dafe55ed7ce48174a697

[2020-05-27 03:46] posguy99 opened #13 "CVE-2019-14868"
Apple just released macOS 10.15.5, and a secuity vuln they claim they fixed is this one.  If you look at the CVE, it refers to a krader patch against what I think is ksh2020?

Apple's open source site ends at 10.15.3, so I can't see what they patched.

At 10.15.3, they were using 93u+.

Someone tell me, please, they haven't jumped tracks.  I haven't installed the update yet, and don't really want

[2020-05-27 13:13] marcastel commented on #13
@posguy99 Thanks for your feedback.

We should obviously follow up on this. From my understanding this has been pushed by a Red Hat representative. Commitment by Apple, I hope, is just procedural.

In all cases NIST should be informed and so should Apple Open Source that ksh2020 IS NOT an AT&T supported and amended version of their original works.

As for the vulnerability itself, I would first wa

[2020-05-27 13:22] posguy99 commented on #13
Someone who's already installed the update checked for me and ksh is still calling itself 93u+.  I don't have immediate access to a 10.15.5 installation.

[2020-05-27 14:08] marcastel commented on #13
Well that's good news... you have the stable suff then  :-)
Apple updates can safely be applied too.

As for the possible vulnerability, further investigation needs to be done.
However I would not flag this as high priority for now (unless, obviously, if  the vulnerability in ksh93u+ is demonstrated).

[2020-05-27 14:11] posguy99 commented on #13
Yeah, but given the reference, wtf patch did Apple apply?  THAT patch won't apply to 93u+.   That's what was my immediate concern because I didn't want to end up with a broken shell if I updated.

[2020-05-27 14:37] kdudka commented on #13
I cannot speak for other vendors but the patches backported by Red Hat for older releases of ksh are publicly available.  See for example:
https://git.centos.org/rpms/ksh/blob/c8/f/SOURCES/ksh-20120801-cve-2019-14868.patch

[2020-05-27 14:56] marcastel commented on #13
Thanks for the heads up @kdudka.

Against which source code are the aforementioned patches applied?

The [specs file](https://git.centos.org/rpms/ksh/blob/859d0e11b5c270181c2f49e885b6c1924ab40915/f/SPECS/ksh.spec) points to stale http://www.research.att.com URLs (but does reference [the patch](https://git.centos.org/rpms/ksh/blob/859d0e11b5c270181c2f49e885b6c1924ab40915/f/SPECS/ksh.spec#_196) you

[2020-05-27 15:17] marcastel commented on #13
So this patch was added [7 days ago](https://git.centos.org/rpms/ksh/c/859d0e11b5c270181c2f49e885b6c1924ab40915?branch=859d0e11b5c270181c2f49e885b6c1924ab40915).

And (at least by the filenames) seems to be applied to _original_ AT&T tarballs and not against clones of GitHub's att/ast repository. To be confirmed.

[2020-05-27 21:56] posguy99 commented on #13
![2020-05-27-14-55-54 image](https://user-images.githubusercontent.com/408644/83076360-3cf54900-a02a-11ea-9649-2f498f9a31e2.jpg)

I assume that's the right result...

[2020-05-28 07:13] kdudka commented on #13
On Wednesday, May 27, 2020 5:17:39 PM CEST JM Marcastel wrote:

It was just an example.  You can find backported patches in other branches
where they were applied months ago:

https://git.centos.org/rpms/ksh/c/fe135eb6

The source URL in the SPEC file was valid when we picked the tarball from
upstream.  The server is obviously not under our control, so we cannot make
the URL valid forever.  But yo

[2020-05-28 07:22] PATinfo commented on #13
@kdudka Thanks for the heads up. The lookaside cache is a neat feature. And the whole approach is pretty reassuring, especially for cases such as that of the AT&T KornShell  :-)

[2020-05-31 15:29] saper commented on #13
Here is what I think the problem might be (using ksh93 93u+):

[code]

[code]

The question is whether `Y__` has been evaluated prior to staring the inner shell or afterwards. C-shell example indicates the expression is passed intact in the environment. So I have tried this is the debugger:

[code]

Therefore `Y__` must have been evaluated during the ksh93 initialization.

ksh93v- does the same

[2020-06-04 14:02] McDutchie commented on #11
Well, I think that getting a proper bugfix release out there is now urgent, or the world will simply give up on ksh. Meanwhile there has not been a single commit to this repo in more than three months.

The last stable 2012 release is the least buggy one available, but still has many serious bugs. I've been following the work done on the abandoned ksh2020 branch, and while it certainly had fatal f

[2020-06-04 14:22] kdudka commented on #11
@McDutchie Your fork looks indeed promising.  Thank you very much for working on it!

[2020-06-04 14:51] jelmd commented on #11
@McDutchie We are all very busy and founding an org which does not operate in a try and error manner/chaotic way takes some time. IMHO it is better to wait for some task done by other members (even if it takes a little bit longer), than to merge stuff without any policy/reviews according to its own taste. ksh2020 branch has shown, that this leads to unstable, unusable SW.

IMHO, there is no reason

[2020-06-04 14:54] jghub commented on #11
@McDutchie
same from here: happy to see what you are doing. you are of course right, that ksh-community has had next to no world-visible activity (prior to the corona-mess there was quite some discussion internally, though) and that things should get moving faster ASAP. so AFAIAC, it is good that you have not waited any longer.

some of the other (few) guys formally constituting ksh-community so f

[2020-06-05 07:24] saper commented on #11
I saw some fixes from @lkoutsofios in the master. I think we could also incorporate changes to the INIT system from the 93v (which in this case is better). @McDutchie Would you be interested in accepting some patches to INIT and maybe tagging a new "INIT" release out (2020-06-XX)?

I have also noticed that setting `CCFLAGS` in the `package` breaks shared library building because ast makefiles try

[2020-06-06 06:01] jelmd commented on #11
@saper As `git log` says: @lkoutsofios patches <= 2020-02-14 are already included in this repo. The only 2 missing patches are the ones from 2020-02-24. IIRC a free?BSD maintainer commented, that those changes are a noop because it uses something different anyway. For completeness they'll get merged, but obviously there is not really a need to give it a high prio tag.

[2020-06-06 06:27] jelmd opened #14 "Merge last patch from ast/ksh"
After 2020-02-14 (this repo's base) one freebsd 12 patch got merged into ast/ksh.
Task: syn with https://github.com/att/ast/pull/1473

[2020-06-06 08:10] McDutchie commented on #11
Thanks @saper, yes please, I would absolutely be very interested in accepting patches to INIT. I've currently got it building on macOS, FreeBSD, OpenBSD, and Linux. But it doesn't currently build on (at least) DragonflyBSD, NetBSD, Solaris, AIX, HP-UX, QNX – usually because iffe fails to detect some DLL feature so we get `error: unknown type name 'Dllscan_t'` and other errors like it.

As for the

[2020-06-06 09:56] McDutchie commented on #11
Thanks @jelmd and @jghub for your kind responses. I've found the pandemic affects people in different ways, and I do have some time on my hands now. That is not going to last, though, so I need to apply the fixes that I can apply soon, or it may not happen later. I just need that free rein for now.

But to be honest, that's not all. Since I'm here I might as well be frank and put my cards on the t

[2020-06-06 11:47] McDutchie commented on #11
A note regarding vendor patches, which @jelmd mentioned. I have looked into some of them myself and found them mostly useless, as many of them are OS-specific hacks that make ksh build on that system while breaking things for others. If @saper can fix the build system, that would be much better.

Apple's patches in particular are actively harmful. I've no idea what they really do as there are no c

[2020-06-06 11:52] jghub commented on #11
@McDutchie

thanks for bothering to explain your POV. I have these comments:

agreed regarding bad starting point. regarding "formal organisation": they quite obviously wanted to sail under the ATT flag to make their work "official". in my view this was de facto a counterfeit operation. regarding quality/success of their work, agreed that one does not need a formal organisation to achieve good res

[2020-06-06 13:31] McDutchie commented on #11
Thank you for your reply. Your point that the ksh2020 maintainers could have continued in their own fork, just as you are intending to do here, is well taken. I accept that "disgraceful" was too strong a qualification on my part, so I will edit my reply. At the same time I can fully understand why they didn't accept being demoted by AT&T, so they would have to work harder at gaining visibility, et

[2020-06-06 15:20] jghub commented on #11
I appreciate this edit.

my best understanding is that they *never* had the blessing of the ATT/AST team  for what was happening in ksh2020 and that the initial understanding was a different one (there were remarks to that extend by @lkoutsofios  somewhere IIRC) -- which in turn explains and justifies the taken actions.

non-issue in the sense that ksh-community is just an attempt at providing a c

[2020-06-06 15:34] jelmd commented on #11
@McDutchie in add. to @jghub comments: Yes, we all need time slots to do some work, and for ksh usually one needs bigger ones. So everybody is in the same position as you, with the difference that you have sufficient slots right now. And that's the advantage of the github workflow: I lets you work on your own pace and provides an easy way to submit your work as PRs to other repos, if you want to (

[2020-06-09 04:22] sunchill06 opened #15 "creating an rpm of ksh from repo"
@jelmd/All,

Thanks for maintaining this. I wanted to know if there is a way to create an rpm out of this out of the box? or a tar may be?

/bin/package write rpm ?
Thanks in advance.

[2020-06-09 12:10] dannyweldon commented on #15
Hey @sunchill06

Not according to this:

https://github.com/ksh-community/ksh/blob/e7f25423818abe159edf52f5799d66bd3621ab0b/lib/package/package.mk#L1146-L1147

[2020-06-09 13:16] sunchill06 commented on #15
Thanks Danny, any other options then? I have to use it as an rpm in my
deployment?

On Tue, Jun 9, 2020, 5:40 PM Danny Weldon <notifications@github.com> wrote:

[2020-06-09 13:40] dannyweldon commented on #15
You could generate a tar using the commands that Lefteris posted or some combination of that.  I have it in a script but I don't have it handy.

For an rpm, I would search for the RedHat or CentOS ksh SRPM to find out how it is generated and try that.  Of course, we could look at incorporating that into package.mk but it would not be high on our agenda, but a PR would be welcome.

[2020-06-09 14:05] sunchill06 commented on #15
I actually tried the commamds that lefteris suggested,  but it complains
that nmake is required for that. See  when you get some spare time to look
for the script that you talked about.

Meanwhile I will also look for something based in your suggestions .

Thanks again.

On Tue, Jun 9, 2020, 7:10 PM Danny Weldon <notifications@github.com> wrote:

[2020-06-09 21:52] jelmd commented on #15
Well, just google for a ksh.spec file, download and copy it to e.g. /tmp/.
Remove all `BuildRequires:` directives, and if you already have a ksh, set this to use, e.g.
[code]
Now remove the %prep and %build section form /tmp/ksh.spec as well as all lines in the %install and %files section, which mentions a file you do not have. Finally run:
[code]
and you should get a ~/rpmbuild/RPMS/x86_64/ksh-*.

[2020-06-10 00:47] McDutchie commented on #11
@jelmd: I'm not sure you actually understand what I am doing. Have you taken a look at the 93u+m git log and NEWS file? I am way, *way* ahead of something like testing BSD-related patches... there is some proper work going on: the regression test suite is in a working state now, a considerable number of bugs have already been fixed (including some that have never been fixed before in any fork/bran

[2020-06-10 00:51] McDutchie commented on #11
@jghub: Thanks for that pointer to shbench, that is a great little thing to play with! And, so far, so good: the reported performance difference between 93u+ and 93u+m is in the range of rounding errors. Sometimes a test is very slightly faster on one, sometimes on the other, without any code changes. I will definitely include this in my future testing.

[2020-06-10 01:40] McDutchie commented on #11
FYI: https://groups.google.com/d/msgid/korn-shell/2c0d6f5d-1289-9888-a187-46eb2d68d064%40inlv.org

[2020-06-10 10:02] jghub commented on #11
@McDutchie:

glad to hear that you find it useful (and it now enforces LC_NUMERIC=C -- thanks for spotting this). suggestions for improvement (or better/further benchmarks) are always welcome.

some sort of benchmarking (be it by `shbench` or some other tool) seems sensible in my view to avoid what happened in ksh2020: performance erosion getting unnoticed for too long (and than difficult to track

[2020-06-10 12:18] McDutchie commented on #6
Hey @hyenias, since ksh-community is not going anywhere fast (see discussion in #11), I'd like to invite you to submit a pull request to the 93u+m branch at https://github.com/ksh93/ksh when you've figured out a fix. Floating point math is well over my head, so your contribution and expertise would be an asset.

[2020-06-11 04:36] jelmd commented on #11
@McDutchie

No, unfortunately haven't had the time to dig in your repo, just read your comments here. However, took your hint to skim over it some minutes ago - looks promising (and like a lot of work)!

Very good! As said, every contribution to ksh is welcome, it does not really matter, in which repo it happens. It makes perfect sense, if you do not wanna wait for any reviews or other things slow

[2020-06-11 07:54] saper commented on #15
What if you build and install nmake first?

[2020-06-13 13:18] hyenias commented on #6
I was able to get my test rounding script to work on my macOS, various Linux, and FreeBSD versions back in late April. Interestingly, ksh93's floating point behavior differed the most on my 32-bit FreeBSD box with its floating point responses being more inline with what I expected.

Up until this issue, I did not remember the floating point math material from long ago. During my research, I found

[2020-07-02 14:12] McDutchie commented on #8
It's worth pointing out here that ksh's "raw" POSIX (neither vi nor emacs) editing mode is implemented in two different ways, depending on whether a UTF-8/multibyte locale is active or not. By default, raw POSIX editing mode is handled in [edit/edit.c](/ksh93/ksh/blob/master/src/cmd/ksh93/edit/edit.c). But in UTF-8 locales, control is passed to [edit/vi.c](https://github.com/ksh93/ksh/blob/master/

[2020-07-03 17:51] nickpapadonis commented on #8
So does that mean this is a bug or intended behavior?

[2020-07-03 18:43] McDutchie commented on #8
What is shown in this comment is a bug: https://github.com/ksh-community/ksh/issues/8#issuecomment-605896180

What is shown in this comment is part intended, part bug: https://github.com/ksh-community/ksh/issues/8#issuecomment-605903944
The `^?` is a bug, but it's not a bug that Shift+C puts you in a separate buffer that you can't backslash past until you escape out of it again; that is standard v

[2020-07-12 19:13] hyenias commented on #6
Well, I have stared at the numbers long enough to determine the 3 following problems occurring with ksh's rounding using printf and float precision expansion.

1. Floats that end in 5s are being represented as 49... [9 repeating] which is normal for floating point math. The problem is that ksh is acting on a string representation of the float/double/etc. Then it performs rounding via chars by addi

[2020-07-12 19:20] hyenias commented on #6
I will now work on some code fixes for the above. Primary culprit is src/lib/libast/sfio/sfcvt.c.

[2020-08-23 00:38] hyenias commented on #6
Update: I have made successful progress on problem 1 and 2 above. Need to validate against the other float formats, `SFFMT_EFORMAT` and `SFFMT_AFORMAT` as I have only concentrated on plain floats and not scientific notation nor hexadecimal notation floats.

[2020-08-26 02:36] jelmd opened #17 "stabilize command -x"
`command -x utility ...` can be used as a built-in alternative for `xargs`.  In contrast to `xargs` implementations it tries to max out the `getconf ARG_MAX` buffer to reduce the number of utility executions and thus might be faster.

However, its available buf size calculation is wrong: ignores terminating `\0` and last char of argv[]/env[]/auxv[] strings. Also, most execve implementations (Solar

[2020-08-28 17:51] jelmd commented on #6
https://members.loria.fr/PZimmermann/papers/accuracy.pdf - interesting as well ...

[2020-09-13 02:08] hyenias commented on #6
I have submitted corrections for sfcvt.c that fixes the original problem identified which is my 2nd bullet above about subnormal numbers. Still working on my items 1 and 3. I have also found another problem with rounding to whole numbers via a precision of 0.

https://github.com/ksh93/ksh/pull/131#issue-486089186

[2021-02-08 04:29] dicktyr opened #18 "redirect output to process substitution fails"
the following command fails to print the expected output
and writes a file named `$'\312\004'` to the working directory
[code]

expected output
[code]

[2021-02-08 09:12] McDutchie commented on #18
This is one of the many bugs already fixed in [ksh 93u+m](https://github.com/ksh93/ksh), see https://github.com/ksh93/ksh/issues/2 and https://github.com/ksh93/ksh/commit/0aa9e03f55f7846c47530d466a7a65d35684cb48.

It doesn't look like the ksh-community project is very active, so please join us at [93u+m](https://github.com/ksh93/ksh) for current development. A beta release is due out in the next f

[2021-02-08 18:58] dicktyr commented on #18
excellent! thank you

please update the other repositories with a link if you can
as I missed it and I imagine others have too

in any case
thank you for maintaining the ksh!

[2021-02-08 18:58] #18 closed, assigned to nobody

[2021-02-08 19:10] McDutchie commented on #18
I'm afraid I have no control over any other repositories, so whether they provide a link is up to them. When the beta is ready I'll of course announce it where I can.

[2021-02-08 19:32] dicktyr commented on #18
I added a reference to this repo to [Wikipedia's KornShell article](https://en.wikipedia.org/wiki/KornShell#History)

[2021-02-08 20:01] hyenias commented on #18
@dicktyr Can you correct the hyperlink for that Wikipedia KornShell page? When I click on it, I get sent to https://github.com/ksh93/ksh%7Cksh instead of https://github.com/ksh93/ksh.

[2021-02-08 20:06] dicktyr commented on #18
actually I just removed the link as per WIkipedia policy
but I left the citation which is correctly linked